/* --------------- estilos generales --------------- */
html {
    /* offset para menú sticky */
    scroll-padding-top: 101px;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.section-title span {
    font-size: 1rem;
}

.boldish {
    font-weight: 600;
}

.definition {
    text-decoration: underline dotted black;
    cursor: help;
}

.gray-background {
    background-color: #353a40;
}

.lightgreen-background {
    background-color: #96c93e;
}

.lightgreen-background:hover {
    background-color: #29a744;
}

.blue-gradient-bg {
    background-image: linear-gradient(to right, #1d3744 , #1e5372);
}

/* --------------- Formularios --------------- */
select:valid,
textarea:valid,
input:valid {
  border: 1px solid #96c93e;
}

select:focus:invalid,
textarea:focus:invalid,
input:focus:invalid {
  box-shadow: 0 0 5px 1px red;
}

/* --------------- Menú top/principal --------------- */
.green-text {
    color: #2e8b44 !important;
}

.green-text:hover {
    color: #29a744 !important;
}

.green-text.active {
    color: #29a744 !important;
    border: 1px solid #2e8b44 !important;
}

/* --------------- Info conferencia --------------- */
.dark-overlay:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity:0.6;
}

.cover-view {
    width: 100vw;
    height: 85vh;
    object-fit: cover;
}

.carousel-caption {
    right: 10% !important;
    left: 10% !important;
}

.green-background {
    background-color: #29a744 !important;
}

.green-background:hover {
    background-color: #2e8b44 !important;
}

/* --------------- Menú footer --------------- */
.nav-link {
    color: white;
}

.nav-link:hover {
    color: #69bcec;
}
